.black-card:first-of-type {
  padding: 0;
}

.center {
  flex-direction: column;
}

.profile-section__header {
  position: relative;
  background: var(--black-dark);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  min-height: 150px;
  padding: 16px;
}

#header-follow-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.header__action-group {
  position: absolute;
  bottom: 8px;
  left: 8px;
  display: flex;
  gap: 8px;
}

.main-title {
  font-size: clamp(20px, 3.3vw, 40px);
}

.header__profile-picture {
  position: absolute;
  display: block;
  width: 128px;
  aspect-ratio: 1 / 1;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -60%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--black-dark);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.6);
}

.profile-picture__img {
  width: 100%;
}

.profile-picture__overlay {
  position: absolute;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: var(--fz-32);
  background: rgba(34, 40, 49, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.profile-picture__overlay:hover {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.profile-section__sidebar {
  padding-right: 16px;
}

.sidebar__article {
  border-bottom: 1px solid var(--black-dark);
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.sidebar__btn {
  margin-bottom: 8px;
}

.profile-section__content {
  padding: 16px;
  padding-top: 48px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.follow-ups__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background: #222831bb;
  padding: 16px;
  display: none;
}

.follow-ups__overlay--active {
  display: block;
}

.follow-ups__article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
}

.follow-ups__top-bar {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-bottom: 1px solid var(--black-dark);
}

.follow-ups__top-bar h2 {
  flex: 1;
  text-align: center;
  font-size: var(--fz-18);
  font-weight: 500;
}

.close-popup-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: var(--fz-18);
  transition: opacity 0.2s ease-out;
}

.close-popup-btn:hover {
  opacity: 0.8;
}

.follow-ups__nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--black-dark);
}

.follow-ups__nav__btn {
  position: relative;
  flex: 1;
  background: none;
  border: none;
  padding: 8px;
  color: #fff;
}

.follow-ups__nav__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--black-dark);
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.follow-ups__nav__btn:hover::after {
  opacity: 0.5;
}

.follow-ups__nav__btn.follow-ups__nav__btn--active::after {
  opacity: 1;
}

.follow-ups__nav__btn:first-child {
  border-right: 1px solid var(--black-dark);
}

.follow-ups__list {
  display: none;
  list-style-type: none;
  height: 400px;
  overflow-y: scroll;
}

.follow-ups__list--active {
  display: block;
}

.follow_ups__list-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
}

.follow_ups__list-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--black-dark);
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.follow_ups__list-item:hover::after {
  opacity: 0.5;
}

.item__link {
  flex: 1;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  font-weight: 600;
  margin-right: 16px;
}

.item__profile-picture {
  width: 32px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--blue-primary);
}

.item__profile-picture img {
  width: 100%;
}

@media screen and (max-width: 850px) {
  .header__profile-picture {
    width: 100px;
    top: 90%;
  }

  .profile-section__content {
    padding: 16px;
    padding-top: 48px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .profile-section__sidebar {
    order: 2;
    margin-top: 32px;
  }
}
