/* Reset */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

/* Theme */
:root {
  /* Colors */
  --black-dark: #222831;
  --black-light: #393e46;
  --blue-primary: #00fff5;
  --blue-secondary: #00adb5;
  --light-grey: #c8d6e5;
  --error: #e84118;
  /* Fonts */
  --ff-main: "Lato", sans-serif;
  --ff-title: "Karla", sans-serif;
  --fz-14: 1.4rem;
  --fz-16: 1.6rem;
  --fz-18: 1.8rem;
  --fz-20: 2rem;
  --fz-24: 2.4rem;
  --fz-32: 3.2rem;
  --fz-40: 4rem;
}

body {
  background-color: var(--black-dark);
  background-image: repeating-linear-gradient(
      45deg,
      rgba(97, 97, 97, 0.1) 0px,
      rgba(97, 97, 97, 0.1) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(90deg, rgb(34, 40, 49), rgb(34, 40, 49));
  color: #fff;
  font-family: var(--ff-main);
  font-size: var(--fz-16);
}

main {
  /* A enlever plus tard, c'est juste pour avoir le footer en bas 
  sur les pages vides pendant la phase de dev */
  min-height: calc(100vh - 120px);
  padding-inline: 16px;
}

.main-title {
  margin-bottom: 32px;
  font-size: var(--fz-40);
  text-align: center;
}

.black-card {
  background: var(--black-light);
  border-radius: 4px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.6);
  padding: 16px;
}

.btn {
  display: block;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-family: var(--ff-title);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-out;
}

.btn--inline {
  display: inline-block;
}

.btn--primary {
  background: var(--blue-primary);
  color: var(--black-dark);
}

.btn--primary:hover {
  background: var(--blue-secondary);
}

.separator--horizontal {
  height: 1px;
  width: 100%;
  background: var(--blue-primary);
  margin-block: 16px;
}

/* General */
section {
  margin-bottom: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
}

input:not([type="radio"]),
textarea,
select,
option {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  font-family: var(--ff-main);
  font-size: var(--fz-16);
  border: none;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4);
  /* Gérer l'outline */
}

textarea {
  resize: vertical;
}

label {
  margin-bottom: 8px;
}

/* Utils */
.section-600 {
  max-width: 600px;
  width: 100%;
  margin-inline: auto;
}

.section-1200 {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 16px;
}

/* Header */
header {
  background: var(--blue-primary);
  color: var(--black-dark);
  display: flex;
  align-items: center;
  padding: 8px 16px;
  min-height: 60px;
  margin-bottom: 32px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.6);
}

.header__logo {
  font-size: var(--fz-24);
  text-decoration: none;
  font-weight: 900;
  font-family: var(--ff-title);
  margin-right: auto;
  transition: opacity 0.2s ease-out;
}

.header__logo:hover {
  opacity: 0.85;
}

.header-search {
  margin-right: 32px;
}

.header-search__form {
  position: relative;
  min-width: 320px;
}

.header-search__form input {
  width: 100%;
  font-size: var(--fz-16);
  color: var(--black-dark);
  padding: 8px 30px 8px 8px;
  border-radius: 4px;
  border: 1px solid var(--blue-secondary);
  /* Il faudra s'occuper l'outline */
}

.header-search__form button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  background: none;
  border: none;
  color: var(--black-dark);
  padding-inline: 4px;
  border-radius: 4px;
  font-size: var(--fz-16);
  transition: opacity 0.2s ease-out;
}

.header-search__form button:hover {
  opacity: 0.85;
}

.main-navigation {
  display: flex;
  font-size: var(--fz-18);
  gap: 16px;
  font-family: var(--ff-title);
}

.main-navigation__link {
  text-decoration: none;
}

.main-navigation__link--active {
  text-decoration: underline;
}

/* Footer */
footer {
  background: var(--blue-primary);
  color: var(--black-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  min-height: 60px;
}
